
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica;
}

#gallery {
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 20%;
  height: 300px;
}

img {
  width: 150%
}

#Shanelle {
  background-color: ;
  display: inline-block;
}

#Kendra {
  background-color: ;
  display: inline-block;
}

#Dekwondra {
  background-color: ;
  display: inline-block;
}

#Rajin {
  background-color: ;
  display: inline-block;

}

#Rinzin {
  background-color: ;
  display: inline-block;

}
