
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("stadium1.jpg");
  background-color: #cccccc;
  background-size: cover;
  font-family: helvetica;

}

#Shanelle {
  background-color: ;

}

#Kendra {
  background-color: ;
}

#Dekwondra {
  background-color: ;
}

#Raijin {
  background-color: ;
}

#Rinzin {
  background-color: ;

#gallery {
  display: inline-block;
