html {
  background: url(Pokémon_Stadium_2.jpg) no-repeat center center fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica;

}
h1{
  color: white;
  text-align: center;
  font-size: 75px;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#gallery {
  margin-top: 150px;
}

img {

  height: 250px;
}

#Shanelle {

}

#Kendra {

}

#Dekwondra {

}

#Rajin {


}

#Rinzen {

}


table{
  text-align: center;
}

#Trainer{
  display: inline-block;
  width:50%;
  height:900px;
  padding: 10px;
}

#pokemen{
  display:inline-block;
}

#poke1{
  height:200px;
  width: 25%;
}

#poke2{
  height:200px;
  width: 25%;
}

#poke3{
  height:200px;
  width: 25%;
}

#pokemenstats{
  display:inline-block;
}

#poke1stats{
  height:200px;
  width: 25%;
}

#poke2stats{
  height:200px;
  width: 25%;
}

#poke3stats{
  height:200px;
  width: 25%;
}
